services:
  app:
    user: "${UID}:${GID}"
    build: .
    container_name: app
    working_dir: /var/www
    volumes:
      - ./laravel:/var/www
      - ./php.ini:/usr/local/etc/php/php.ini
    ports:
      - "5173:5173"
    networks:
      - laravel
  webserver:
    image: nginx:latest
    container_name: nginx_server
    ports:
      - "8100:80"
    volumes:
      - ./laravel:/var/www
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      db:
        condition: service_healthy
    networks:
      - laravel
  db:
    image: mysql:8.0
    container_name: mysql_db
  #  ports:
  #    - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
      MYSQL_SSL: "0"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1"]
      interval: 5s
      timeout: 3s
      retries: 10
    networks:
      - laravel
networks:
  laravel:
    driver: bridge
